In [1]:
#based on the following: https://fairyonice.github.io/extract-someones-tweet-using-tweepy.html

3.10.0

In [ ]:
consumer_key =        "xmPFnyd9jr4XyFQmRhobIbPLZ"
consumer_secret =     "EgihsTG5t8XWhKBoyXU7d62JRfv2YtC0ih9fNZ5QfyV7ztenqx"
access_token =        "2931321970-bkctd07SMruYfirq7ckeQ7BKkf5shHaGutLrjSS"
access_token_secret = "ITpWk9J5pAQUOhyWN7lGS6158OaIPRJwsLZWu635LBk4Z"

from credentials import *
import tweepy
print(tweepy.__version__)

In [18]:
#choose user to download tweets from
userID = "joerogan"

In [19]:
# Authorize our Twitter credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

tweets = api.user_timeline(screen_name=userID, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )

In [21]:
#download all tweets

all_tweets = []
all_tweets.extend(tweets)
oldest_id = tweets[-1].id
while True:
    tweets = api.user_timeline(screen_name=userID, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           max_id = oldest_id - 1,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
    if len(tweets) == 0:
        break
    oldest_id = tweets[-1].id
    all_tweets.extend(tweets)
    print('N of tweets downloaded till now {}'.format(len(all_tweets)))

N of tweets downloaded till now 290
N of tweets downloaded till now 430
N of tweets downloaded till now 597
N of tweets downloaded till now 754
N of tweets downloaded till now 902
N of tweets downloaded till now 1027
N of tweets downloaded till now 1161
N of tweets downloaded till now 1284
N of tweets downloaded till now 1414
N of tweets downloaded till now 1554
N of tweets downloaded till now 1675
N of tweets downloaded till now 1817
N of tweets downloaded till now 1971
N of tweets downloaded till now 2103
N of tweets downloaded till now 2231
N of tweets downloaded till now 2234

In [22]:
#save into CSV
tweet.full_text.encode("utf-8")

NameError: name 'tweet' is not defined

In [23]:
#transform the tweepy tweets into a 2D array that will populate the csv	
from pandas import DataFrame
outtweets = [[tweet.id_str, 
              tweet.source,
              tweet.created_at, 
              tweet.favorite_count, 
              tweet.retweet_count, 
              tweet.full_text.encode("utf-8").decode("utf-8")] 
             for idx,tweet in enumerate(all_tweets)]
df = DataFrame(outtweets,columns=["id","source","created_at","favorite_count","retweet_count", "text"])
df.to_csv('%s_tweets.csv' % userID,index=False)
df.head(3)

,id,source,created_at,favorite_count,retweet_count,text
0,1380897360293765121,Instagram,2021-04-10 14:56:01,1452,57,First episode in the new studio with my brothe...
1,1379877883263381504,Instagram,2021-04-07 19:24:58,1493,85,A great time with a fantastic human and one of...
2,1379608204653572097,Twitter for iPhone,2021-04-07 01:33:22,5183,784,Mystery Objects Remain Unidentified – Mystery ...

In [15]:
#store CSV into WD
ls *.csv

NameError: name 'full_text' is not defined